page-visimisi {

}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
   }

  .card-title1 {
    position: absolute;
    top: 2%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #000000;
  }

  .card-subtitle1 {
    font-size: 1.1em;
    position: absolute;
    top: 25%;
    width: 100%;
    color: #000000;
    font-weight: bold;
  }

}